<mat-toolbar class="toolbar-heading">
  <span>Clinic Outcomes</span>
</mat-toolbar>

<div class="filter-row">
  <mat-button-toggle-group
    name="days"
    class="filter-group"
    aria-label="Filter by days"
    [value]="selectedDays"
    (change)="onDaysChange($event.value)">
    <mat-button-toggle [value]="30">30 Days</mat-button-toggle>
    <mat-button-toggle [value]="60">60 Days</mat-button-toggle>
    <mat-button-toggle [value]="90">90 Days</mat-button-toggle>
  </mat-button-toggle-group>
  
</div>

<app-meta-info 
  [meta]="meta$ | async"
  [period]="selectedDays">
</app-meta-info>

<div class="main-dashboard">
  <mat-card class="app-time-in-range-chart">
    <app-time-in-range-chart
      [data]="(tir$ | async) || null"
      [meta]="(meta$ | async) || null">
    </app-time-in-range-chart>
  </mat-card>

  <mat-card class="app-gmi-chart">
    <app-gmi-chart
      [data]="(gmi$ | async) || null">
    </app-gmi-chart>
  </mat-card>
</div>